<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- AXIOS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- STYLESHEET CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <title>Vue Spotify</title>
</head>

<body>
    <div id="app">
        <div class="main_wrapper">
            <!-- NAVBAR -->
            <div class="navbar">
                <img src="img/spotify_logo.svg" alt="Spotify Logo" class="logo">
                <select id="selectGenre" v-model="selectedGenre" @change="selectGenre(selectedGenre)">
                    <option v-for="genre in albumGenres" :value="genre">{{genre}}</option>
                </select>
                <button id="orderByYear" @click="sortByYear">Order by Year</button>
            </div>

            <!-- ALBUM CONTAINER -->
            <div v-if="selectedGenre==='All'" class="album_container">
                <!-- ALBUM ITEM -->
                <div v-for="disc in albumList" class="album_item">
                    <!-- COVER -->
                    <div class="album_cover ">
                        <img :src="disc.poster" alt="">
                    </div>

                    <!-- TITLE -->
                    <h2 class="album_title ">{{disc.title}}</h2>

                    <!-- INFO -->
                    <div class="album_info ">
                        <h3 class="album_author ">{{disc.author}}</h3>
                        <h4 class="album_year ">{{disc.year}}</h4>
                    </div>
                </div>
                <!-- FINE ALBUM ITEM -->
            </div>
            <!-- FINE ALBUM CONTAINER -->

            <!-- ALBUM CONTAINER -->
            <div v-else class="album_container">
                <!-- ALBUM ITEM -->
                <div v-for="disc in albumGenresFiltered" class="album_item">
                    <!-- COVER -->
                    <div class="album_cover ">
                        <img :src="disc.poster" alt="">
                    </div>

                    <!-- TITLE -->
                    <h2 class="album_title ">{{disc.title}}</h2>

                    <!-- INFO -->
                    <div class="album_info ">
                        <h3 class="album_author ">{{disc.author}}</h3>
                        <h4 class="album_year ">{{disc.year}}</h4>
                    </div>
                </div>
                <!-- FINE ALBUM ITEM -->
            </div>
            <!-- FINE ALBUM CONTAINER -->
        </div>
    </div>

    <!-- FINE MAIN WRAPPER -->
    </div>

    <!-- SCRIPT MAIN.JS -->
    <script src="js/main.js "></script>
</body>

</html>